
button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px groove gray;
    color: white;
    box-shadow: 2px 1px 1px gray;
    outline: none;
}
.start{
    background-color: darkgreen;
}
.stop{
    background-color: goldenrod;
}
.clear{
    background-color: firebrick;
}